<%- include('../partials/head') %>
<body>
  <%- include('../partials/nav') %>
  <main>
    <h1>Welcome To Airbnb Index Service.</h1>
    <ul>
      <% registerdHomes.forEach(home => { %>
      <li style="margin-bottom: 20px">
        <img src="<%= home.photoUrl %>" alt="<%= home.houseName %>" />
        <h3><%= home.houseName %></h3>
        <p><strong>Location:</strong> <%= home.location %></p>
        <p><strong>Rooms:</strong> <%= home.rooms %></p>
        <p><strong>Price per Night:</strong> ₹<%= home.price %></p>
        <p><strong>Ratings:</strong> <%= home.ratings %></p>
        <button type="button" class="button">Book Now</button>
      </li>
      <% }); %>
    </ul>
  </main>
</body>
<!-- </html> -->
